## nvim
config/nvim/session
config/nvim/undo
config/nvim/lazy-lock.json

## fish
config/lvim/lazy-lock.json

## coc
config/coc
config/coc/extensions/coc-lua-data/lua-language-server/log
config/nvim/lazy-lock.json
